# These are the environment variables you need to add to your Render service.
# Do NOT upload a real .env file with secrets to GitHub.
# Copy these keys into the "Environment" section of your Render Web Service.

# [REQUIRED] Any long random string to secure your user sessions
JWT_SECRET= 523c3daac50951c33098b138a1b0d301

# [OPTIONAL] Ensures Render uses the correct Node version
NODE_VERSION=22.15.0
